/* This CSS file is contains the CSS rule sets for about.html */

/******************************************************/
/***************** CSS FOR ABOUT.HTML *****************/
/******************************************************/

.page-header-about {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  background-color: #0D38D3;
}

/* Add a container for content in the about page */
.about-container {
  width: 90%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right:60px;
  margin-left:60px;
  padding: 0.5em 0;
}

