/* CSS files add styling rules to your content */

body,
html {
  height: 100%;
  font: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  margin: 0em;
  color: white;
  background-color: #0d9c90;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font: 25px "Roboto Mono", sans-serif;
  color: white;
  text-align: center;
}

h3 {
  letter-spacing: 5px;
  font: 25px "Roboto Mono", sans-serif;
  color: white;
  text-align: center;
}

/*-----------CSS FOR PARALLAX SCROLL-----------*/
/*https://www.w3schools.com/cssref/pr_background-attachment.asp*/
.main-message,
.image-one,
.image-two {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0d9c90;
  background-size: cover;
  min-height: 80%; /*Adjust the gap between sections*/

  /*Creates the scrolling effect*/
  background-attachment: fixed;
}

/*-----------TOP IMAGE + TEXT-----------*/
/*Container for top image and text - Designed for mobile first*/
.main-message {
  background-image: url("https://cdn.glitch.com/317b965b-0341-4f80-9657-10080095ce48%2Feniac.jpeg?v=1587416508886");
  min-height: 100%;
  background-size: auto;
  background-color: #0d9c90;
  border-style: groove; /*Uncomment to see the outline of the container*/
  border-color: #0d9c90;
}

/*Title of the page*/
.title {
  position: absolute;
  top: 0;
  width: 75%;
  margin: 10% 11%;
  text-align: center;
  background-color: #0d9c90;
  color: white;
  padding: 5px;
  font-size: 30px;
  letter-spacing: 10px;
  line-height: 60px;
}

/* Flexbox container for subtitle and intro text - This style is designed for mobile first */
.flex-container {
  width: 90%;
  margin: 50% auto;
  padding: 0.5em 0;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left box under title - This style is designed for mobile first */
.subtitle {
  padding: 15px;
  margin: 5px;
  flex-grow: 1;
  /*border-style: dotted;*/
  background-color: #0d9c90;
}

/* Right box under title - This style is designed for mobile first */
.intro-text {
  padding: 15px;
  margin: 5px;
  flex-grow: 1;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
  background-color: #0d9c90;
}

/*-----------TEXT SCROLLING SECTIONS-----------*/
.textSection {
  background-color: #0d9c90;
  padding: 20px 45px;
  margin: 35px;
}

/*-----------IMAGES-----------*/
.image-one {
  background-image: url("https://cdn.glitch.com/317b965b-0341-4f80-9657-10080095ce48%2Fmaryjackson.jpg?v=1587408388327");
}

.image-two {
  background-image: url("https://cdn.glitch.com/317b965b-0341-4f80-9657-10080095ce48%2Fcorememory.png?v=1587408710145");
}

/*-----------TOP NAVIGATION BAR-----------*/
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: right;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
  background-color: #0d9c90;
}

/*-----------ACTION ITEM LIST-----------*/

.page-header {
  box-sizing: border-box;
  padding: 0 0 0 30px;
  margin: 15px 15px 15px 35px;
  position: absolute;
  text-transform: uppercase;
}

.flex-container-action {
  width: 90%;
  margin: 20% auto;
  padding: 0.5em 0;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left box under title - This style is designed for mobile first */
.left-container {
  padding: 15px;
  margin: 5px;
  flex-grow: 1;
  /*border-style: dotted;*/
  background-color: #0d9c90;
}

/* Right box under title - This style is designed for mobile first */
.right-container {
  padding: 15px;
  margin: 5px;
  flex-grow: 1;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
  background-color: #0d9c90;
}

#list-container {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

#list-header {
  text-align: center;
  color: #0d9c90;
  letter-spacing: 1px;
}

p.instructions {
  font: 14px "Roboto", sans-serif;
  text-align: center;
  font-style: italic;
  color: #0d9c90;
}



#my-list {
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 10pt;
}

#my-list li {
  cursor: pointer;
  padding: 8px 5px 8px 35px;
  position: relative;
  list-style-type: none;
  transition: 0.2s;
  width: 85%;
  color: black;
  /*Need to make the list items unselectable?*/
}

#my-list li::before {
  content: "";
  position: absolute;
  border-color: #0d9c90;
  border-style: solid;
  border-width: 2px;
  top: 12px;
  left: 13px;
  height: 10px;
  width: 10px;
}

#my-list li:hover {
  background: #f3f3f3;
  color: #f4364c;
}

/*When marked complete (i.e. clicked on) add strikethrough*/
#my-list li.all-done {
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#my-list li.all-done::before {
  content: "";
  position: absolute;
  border-color: #0d9c90;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 5px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/*Style the delete button*/
.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 5px 6px 5px;
  background-color: #0d9c90;
  color: white;
  
}

.deleteButton:hover {
  background-color: #f4364c;
  color: white;
}


/*-----------CHANGE CSS BASED ON SCREEN SIZE-----------*/

/* If the screen is 700 or less, implement these changes*/
@media only screen and (max-width: 700px) {
  /*------------INDEX.HTML------------*/
  .main-message,
  .image-one,
  .image-two {
    background-attachment: scroll;
  }
}

/*------------TAKE-ACTION.HTML------------*/
.flex-container-action {
    flex-wrap: wrap;
    
  }

/* If the screen is 701 or more, implement these changes*/
@media only screen and (min-width: 701px) {
  /*------------INDEX.HTML------------*/
  .title {
    top: 10%;
    padding: 0 60px;
    margin: 5% 20.5%;
    width: 50%;
    font-size: 35px;
    line-height: 80px;
  }
  
  /*------------TAKE-ACTION.HTML------------*/
  .flex-container-action {
    flex-wrap: nowrap;
  }
  
  .left-container {
    width: 50%;
    margin-right: 10%;
  }

}


/* If the screen is 1250 or more, implement these changes*/
@media only screen and (min-width: 1250px) {
  h3 {
    font-size: 35px;
  }

  /*------------INDEX.HTML------------*/
  .main-message,
  .image-one,
  .image-two {
    background-attachment: fixed;
  }

  .main-message {
    height: 75%;
  }

  .title {
    top: 10%;
    padding: 0 60px;
    margin: 10% 20.5%;
    width: 50%;
    font-size: 40px;
    line-height: 100px;
  }

  .flex-container {
    flex-wrap: nowrap;
    margin: 25% auto;
    width: 60%;
  }

  .intro-text {
    width: 70%;
    font-size: 20px;
    line-height: 1.5em;
    padding: 20px;
  }

  .textSection {
    /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
    margin: 1.5% 15%;
    font-size: 20px;
    line-height: 1.5em;
  }

  /*------------TAKE-ACTION.HTML------------*/
  .flex-container-action {
    flex-wrap: nowrap;
    margin: 5% auto;
    width: 90%;
  }

  #list-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px 40px 40px;
  }

  .left-container {
    width: 50%;
    margin-right: 10%;
  }
}


/*------------CSS FOR ADD ITEM EXTENSION------------*/
#add-button {
  padding: 10px;
  width: 50px;
  background: #0d9c90;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

#add-button:hover {
  background-color: #f4364c;
}

input {
  margin: 0;
  width: 200px; /*Sets width of box*/
  padding: 10px;
}