/* CSS files add styling rules to your content */

body, html {
  height: 100%;
  font: 400 15px/1.8 "Roboto", sans-serif;
  margin: 0em;
  color: white;
}

h1 {
  letter-spacing: 5px;
  font: 25px 'Roboto Mono', sans-serif;
  color: white;
  text-align:center
}

h3 {
  letter-spacing: 5px;
  font: 25px 'Roboto Mono', sans-serif;
  color: white;
  text-align:center
}

/*https://www.w3schools.com/cssref/pr_background-attachment.asp*/
.main-message, .image-one, .image-two{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0d9c90;
  background-size: cover;
  min-height: 50%; /*Adjust the gap between sections*/
  
  /*Creates the scrolling effect*/
  background-attachment: fixed;
}

/*Top image*/
.main-message{
  background-image: url("https://cdn.glitch.com/317b965b-0341-4f80-9657-10080095ce48%2Feniac.jpeg?v=1587416508886");
  min-height: 100%;
  background-size: auto;
  background-color:#0d9c90; 
}

/*Title of the page*/
.title{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.titleText{
  background-color: #0d9c90;
  color: white;
  padding:20pt;
  font-size: 30px;
  letter-spacing: 10px;
  line-height:80px;
}

/*Subtitle and description*/
.flex-container {
  position: relative;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  flex-height: 100px;
  align-content: stretch;
  /*padding: 200pt,50pt,30pt,30pt;*/
  padding-left: 200px;
  padding-right: 200px;
}

/*Description class*/
.flex-container > div {
  background-color: #0d9c90;
  margin: 20px;
  padding: 15px;
  font-size: 15px;
  width: 400px;
}

/*Subtitle id*/
#subtitle {
  width: 200px;
  font-size: 10px;
}

/*Text scrolling sections*/
.textSection {
  background-color:#0d9c90;
  padding:50px 80px;  
}

/*Images*/
.image-one{
  background-image: url("https://cdn.glitch.com/317b965b-0341-4f80-9657-10080095ce48%2Fmaryjackson.jpg?v=1587408388327");
}

.image-two{
  background-image: url("https://cdn.glitch.com/317b965b-0341-4f80-9657-10080095ce48%2Fcorememory.png?v=1587408710145");
}



/*Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
