/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the about.html is in about.css
The CSS for the take-action.html is in take-action.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/*TODO: Change the font-family property to your linked font*/
body,
html {
  height: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  margin: 0em;
  color: white;
  background-color: #0D38D3;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: Change the font-family property to your linked font*/
  font-family: "Roboto Mono", sans-serif;
  color: #43d6b9ff;
  text-align: center;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: #43d6b9ff;
  text-align: center;
  line-height: 1.3em;
}

p a {
  color: #43d6b9ff;
  text-decoration: none;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #43d6b9ff;
  border-style: solid;
  border-color: #0D38D3;
}

/* Style the li elements with the class nav */
li.nav {
  float: right;
  font-size: 15px;
}

/* Style the a elements in the li class nav */
li.nav a {
  display: block;
  color: #0D38D3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* Style the a elements in the li class nav when the mouse is hovering */
li.nav a:hover {
  background-color: #0D38D3;
  color: #43d6b9ff;
}

/************************************************/
/************** CSS FOR INDEX.HTML **************/
/************************************************/

/*-----------TOP IMAGE + TEXT-----------*/
/* Container for top image and text */
.main-message {
  /* TODO: Insert the the url of the image address for your image here */
  background-image: url("https://cdn.glitch.com/eb615d20-f1f4-4443-bd45-85e1d5bde77b%2Fkitten.jpg?v=1589124083210");

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/*-----------PARALLAX SCROLL-----------*/
.main-message,
.image-one {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /*Adjust the gap between sections*/

  /* TODO: Create the scrolling effect here*/
}

/* TODO: Add the CSS properties to the flexbox container for title and intro text */
.flex-container {
}

/* TODO: Add the CSS properties to the flex item for the heading (the left box) */
.heading-home {
  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Add the CSS properties to the flex item for the intro text (the right box) */
.intro-text {
  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/*-----------TEXT SCROLLING SECTIONS-----------*/
.text-section {
  background-color: #0D38D3;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*-----------IMAGES-----------*/

/* TODO: Replace the current image URL with your own */
.image-one {
  background-image: url("https://cdn.glitch.com/eb615d20-f1f4-4443-bd45-85e1d5bde77b%2Fpuppy.jpg?v=1589146535603");
}

/* TODO: Add a second background image. Copy the rule set for .image-one, change the class selector to .image-two, and add your new image URL */

/* TODO: Add more background images by repeating the process above and changing the class selector based on the image */

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/***** EXTENSION: CHANGE CSS BASED ON SCREEN SIZE *****/
/******************************************************/
