/******************************************************/
/************** CSS FOR TAKE-ACTION.HTML **************/
/******************************************************/

.page-header-action {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  background-color: #0D38D3;
}

/******************************************************/
/***************** ACTION ITEM LIST *******************/
/******************************************************/

/* Flexbox container that holds all flex items */
.flex-container-action {
  display: flex;

  position: absolute;
  padding: 0.5em 0;
  align-items: center;
  top: 5%;
  left: 5%;
  right: 5%;

  margin: 5% 0;
  width: 90%;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Left box under title; item in .flex-container (designed for mobile first) */
.action-info-container {
  width: 50%;
  margin-right: 10%;
  padding: 35px;
  margin: 5%;
  font-size: 16px;
  flex-grow: 1;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Right box under title; item in .flex-container (designed for mobile first) */
.action-list-container {
  padding: 35px;
  margin: 5%;
  flex-grow: 1;
  background-color: #0d9c90;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Holds all elements related to the action item list; inside the right container */
#checklist {
  background-color: white;
  border-radius: 15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  border-style: solid;
  border-color: #43d6b9ff;
}


/* Header in the list container */
#checklist-header {
  text-align: center;
  color: #0D38D3;
  letter-spacing: 1px;
}

/* Intructions inside the list container */
p.instructions {
  font: 14px "Roboto", sans-serif;
  text-align: center;
  font-style: italic;
  color: #0D38D3;
}

/* The div container for the unordered action item list */
#my-list {
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 10pt;
}

/* Styling for individual action list items */
#my-list li {
  cursor: pointer;
  padding: 8px 5px 8px 35px;
  position: relative;
  list-style-type: none;
  transition: 0.2s;
  width: 85%;
  color: black;
}

/* Styling for the check squares added at the beginning of each list item */
#my-list li::before {
  content: "";
  position: absolute;
  border-color: #43d6b9ff;
  border-style: solid;
  border-width: 2px;
  top: 12px;
  left: 13px;
  height: 10px;
  width: 10px;
}

/* Change background color when cursor hovers over list items */
#my-list li:hover {
  background: #f3f3f3;
  color: #0D38D3;
}

/* Change check square color when cursor hovers over */
#my-list li:hover::before {
  border-color: #0D38D3;
  border-style: solid;
}

/* When marked complete (i.e. clicked on) add strikethrough */
#my-list li.all-done {
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#my-list li.all-done::before {
  content: "";
  position: absolute;
  border-color: #0D38D3;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 5px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the delete button */
.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 5px 6px 5px;
  background-color: #43d6b9ff;
  color: white;
}

.deleteButton:hover {
  background-color: #f4364c;
  color: white;
}
